:root {
    --header-height: 158px;
    --nav-height: 60px;
    --dna-turquoise: rgb(38, 186, 172);
    --dna-shadow-header: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
    --font-stack: "Noto Sans Hebrew", sans-serif;
  }
  * { font-family: var(--font-stack) !important; box-sizing: border-box; }
  header#unified-header { height: var(--header-height); position: sticky; top: 0; z-index: 950; background: #fff; box-shadow: var(--dna-shadow-header); }
  